@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot');
    src: url('../fonts/fontello.eot?#iefix') format('embedded-opentype'),
        url('../fonts/fontello.woff') format('woff'),
        url('../fonts/fontello.ttf') format('truetype'),
        url('../fonts/fontello.svg#fontello') format('svg');
    font-weight: normal; font-style: normal;
}

[class*="btn-"] {
    font-family: 'fontello';
    font-style: normal;
    font-size: 1.5em;
    speak: none;
}

.btn-play:after { content: "\e808"; } 
.btn-prev:after { content: "\e805"; } 
.btn-next:after { content: "\e803"; } 
.btn-stop:after { content: "\e800"; } 
.btn-pause:after { content: "\e801"; } 
* { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing:    border-box; 
    box-sizing:         border-box; 
    margin: 0;
    padding: 0;
}

html {
    color: #444;
    font-size: 100%;    
    background: #f7f7f7 url(../images/bbg.gif) repeat center top;
}

body {
    font-family: Cambria, Georgia, "Times New Roman", Times, serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased; 
    font-size:18px; 
    font-size:1.125rem;
}

header {
    margin-bottom: 80px;
}

a {
    text-decoration: none;
}

h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 18px;
    font-size: 2rem;    
    line-height: 1.5; 
    font-weight: bold;
}

.page-wrap {
    width: 960px;
    margin: 80px auto;
}

.Player-buttons {
    list-style: none;

}

.Player-buttons li {
    position: relative;
    display: inline-block;
    margin-right: -4px; /* See: http://css-tricks.com/fighting-the-space-between-inline-block-elements/ */
}

.Player-buttons li:before {
    content: "";
    display: block;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: -1;
}

.Player-buttons a {
    display: block;
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
    background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
    background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
    background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
    color: #a7a6a7;
    margin: 12px;
    width: 54px;
    height: 54px;
    position: relative;
    text-align: center;
    line-height: 54px;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

.Player-buttons a:before {
    content: "";
    display: block;
    background: #fff;
    border-top: 2px solid #ddd;
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    z-index: -1;
    box-shadow: inset 0px 8px 48px #ddd;
}

.Player-buttons a:hover {
    text-decoration: none;
    color: #555;
    background: #f5f5f5;
}

.mp-container{
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    margin-top: 25px;
    margin-bottom: 15px;
    padding-left: 10%;
    padding-bottom: 15px;
    padding-right: 10%;
    padding-top:15px;

    -moz-box-shadow: 0px 0px 18px #000000;
    -webkit-box-shadow: 0px 0px 18px #000000;
    box-shadow: 0px 0px 18px #000000;

    background: #f7f7f7 url(../images/bg.png) repeat center top;
}

.mp-mediabuttons-container{
    height: 100%;
    display:inline-block;
}
.mp-volumebar-container{
    height: 100%;
    display:inline-block;
    margin-left: 50px;
}
.mp-tmieline-container{
    height: 100%;
    display:inline-block;
    float: right;
    width: 300px;
}
.mp-tmieline-container span{
    display: inline-block;
  min-width: 0.4em;
}
.volume-speaker-wrap{
    float: left;
}
[class*="icon-"] {
    font-family: 'fontello';
    font-style: normal;
    font-size: 1.5em;
    speak: none;
}

.icon-vol-min:after { content: "\e80f"; } 
.icon-vol-normal:after { content: "\e810"; } 
.icon-vol-max:after { content: "\e811"; }
.icon-open:after {content: "\e80d"}
.nav {
    list-style: none;

}

.mp-volumebar-nav li {
    position: relative;
    margin-left: 0px;
    display: inline-block;

}

.mp-volumebar-nav li:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: -1;
}

.mp-volumebar-nav a {
    display: block;
    color: #555;
    width: 50px;
    height: 54px;
    position: relative;
    text-align: center;
    line-height: 54px;

}

.mp-volumebar-nav a:before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    bottom: -2px;
    z-index: -1;

}

.mp-volumebar-nav a:hover {
    text-decoration: none;

}

/* File Input form */



.container {width: 960px; margin: 0 auto; overflow: hidden;}

#content {	float: left; width: 100%;}

.post { margin: 0 auto; padding-bottom: 50px; float: left; width: 960px; }



#mask {
    display: none;
    background: #000; 
    position: fixed; left: 0; top: 0; 
    z-index: 10;
    width: 100%; height: 100%;
    opacity: 0.8;
    z-index: 999;
}

.login-popup{
    display:none;
    background: #333;
    padding: 10px; 	
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
}

img.btn_close {
    float: right; 
    margin: -28px -28px 0 0;
}

fieldset { 
    border:none; 
}

form.signin .textbox label { 
    display:block; 
    padding-bottom:7px; 
}

form.signin .textbox span { 
    display:block;
}

form.signin p, form.signin span { 
    color:#999; 
    font-size:11px; 
    line-height:18px;
} 

form.signin .textbox input { 
    background:#666666; 
    border-bottom:1px solid #333;
    border-left:1px solid #000;
    border-right:1px solid #333;
    border-top:1px solid #000;
    color:#fff; 
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font:13px Arial, Helvetica, sans-serif;
    padding:6px 6px 4px;
    width:400px;
}

form.signin input:-moz-placeholder { color:#bbb; text-shadow:0 0 2px #000; }
form.signin input::-webkit-input-placeholder { color:#bbb; text-shadow:0 0 2px #000;  }

.button { 
    background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
    background:  -o-linear-gradient(top, #f3f3f3, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
    border-color:#000; 
    border-width:1px;
    border-radius:4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color:#333;
    cursor:pointer;
    display:inline-block;
    padding:6px 6px 4px;
    margin-top:10px;
    font:12px; 
    width:214px;
}

.button:hover { background:#ddd; }

/* Style for Playlist table*/

#column1
{

    -webkit-touch-callout: none;    /*  text selection color blue disable html */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    height: 350px;
    width: 80%;
    border-collapse: collapse;
    text-align: left;
    position: fixed;
    left: 10%;
    margin-bottom: 15px;
    overflow-y: auto;
}
#column1 table{
    border-collapse: collapse;
    width: 100%;
}
.highlight{  
  background: #E18728; 
  color: black;
  
}
#column1 th
{
    font-size: 14px;
    font-weight: normal;
    color: #039;
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;
}

#column1 td
{
    border-bottom: 1px solid #ccc;
    color: #669;
    padding: 6px 8px;

}
#column1 tbody tr:hover td{
    color: #c6c6c5/*#009;*/
}
#column1 tr{
    cursor: pointer;
    text-decoration: none;
}

/*
mediaplayer other buttons
*/
[class*="other_Button-"] {
    font-family: 'fontello';
    font-style: normal;
    font-size: 1.3em;
    speak: none;
}

.other_Button-open:after {content: "\e80d"}

.mp-otherButtons-container{
    height: 100%;
    display:inline-block;

}
.mp-otherButtons-container li {
    position: relative;
    margin-left: 0px;
    display: inline-block;

}

.mp-otherButtons-container li:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: -1;
}

.mp-otherButtons-container a {
    display: block;
    color: #555;
    width: 50px;
    height: 54px;
    position: relative;
    text-align: center;
    line-height: 54px;
    margin: 10px;
}

.mp-otherButtons-container a:before {
    content: "";
    background: #fff;
    display: block;
    top: -2px;
    bottom: -2px;
    z-index: -1;
    
}

.mp-otherButtons-container a:hover {
    text-decoration: none;
    
}
